<%= simple_form_for Message.new do |f| %>
  <%= f.error_notification %>
  <%= f.input :recipient_id, as: :hidden, input_html: { value: recipient_id } %>
  <%= f.input :body, label: false %>
  <%= f.button :submit, value: "Send", class: 'float-right' %>
<% end %>