<% if current_user&.friends_with?(user) %>
    <% if defined? respond %>
        <%= link_to 'Remove Connection', remove_connection_user_path(user), class: "#{link_class ||= nil}" %>
    <% end %>
<% elsif current_user && current_user.pending_friends.include?(user) %>
    <% if defined? respond %>
        <%= link_to 'Pending Connection', '#', class: "disable #{link_class ||= nil}" %>
    <% end %>
<% elsif current_user && user.pending_friends.include?(current_user) %>
    <% if defined? respond %>
        <p><%= user.name %> has sent you a connection request.</p>
        <%= link_to 'Decline Connection', decline_connection_user_path(user), class: "#{link_class ||= nil}" %>
        <%= link_to 'Confirm Connection', accept_connection_user_path(user), class: "#{link_class ||= nil}" %>
    <% end %>
<% elsif policy(user).connect? %>
    <%= link_to '<i class="ion-android-share-alt"></i> Connect'.html_safe, (current_user ? connect_user_path(user) : new_user_session_path), class: "#{link_class ||= nil}" %>
<% end %>