<% title 'My Connections' %>

<div class="page-header">
  <div class="container">
    <h1>My Connections</h1>
  </div>
</div>
<div class="container">
    <% if @requested_connections.any? %>
        <h2 class="h5">Connections Requests</h2>
        <hr class="my-4">
        <div class="users row">
            <%= render 'users/list', users: @requested_connections, requests: true %>
        </div>
    <% end %>

    <h2 class="h5">Connected</h2>
    <hr class="my-4">
    <% if @connections.any? %>
        <div class="users row">
            <%= render 'users/list', users: @connections %>
        </div>
    <% else %>
        <div class="alert alert-info">You have not made any connections yet.</div>
    <% end %>
</div>