<% title 'Invitation Code' %>
<h2>Invitation Code</h2>

<%= simple_form_for(InvitationCode) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Check Code" %>
  </div>
<% end %>