<% title 'Register' %>
<h2 class="mb-4">Sign up</h2>

<% if false %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :invitation_code, required: true, input_html: { value: params[:invitation_code] } %>
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :country, collection: ISO3166::Country.translations.sort.map {|k,v| [v,k]} %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.association :category, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <div class="terms">
        <%= f.check_box :terms %>
        <label for="user_terms">I accept the <%= link_to 'terms and conditions', '/terms-and-conditions', target: '_blank' %></label>
        <%= f.error :terms %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>

<div class="modal fade" id="invitation-code-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: '/invitation_codes/check') do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :invitation_code, required: true, input_html: { value: params[:invitation_code] } %>
            <%= f.association :category, required: true, autofocus: true %>
            <div class="terms">
              <%= f.check_box :terms %>
              <label for="user_terms">I accept the <%= link_to 'terms and conditions', '/terms-and-conditions', target: '_blank' %></label>
              <%= f.error :terms %>
            </div>
            <%= hidden_field_tag 'redirect_to' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
