.inverse-bg {
    color: #fff;
    h1, h2, p {
        color: inherit;
    }
}

.hero {
    background-image: asset-url('bg.jpg');
    background-attachment: scroll;
    background-size: cover;
    padding: 8rem 0 5rem;
}

.section-padded {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.section-subscribe {
    // background-image: asset-url('subscribe-bg.jpg');
    padding-top: 1rem;
    background-attachment: scroll;
    background-size: cover;
}

body.home {
    margin-bottom: 0;
}

.home .footer-main {
    position: static;
    margin-top: 0;
}

body.page {
    margin-bottom: 68px;
}