<div class="conversation-box">
    <%= will_paginate @messages %>
    <div class="messages">
        <% @messages.each do |message| %>
            <div class="message <%= 'me' if message.user != @recipient %>">
                <%= message.user.render_avatar(40) %>
                <div class="message-body" data-toggle="tooltip" data-placement="bottom" title="<%= message.created_at.strftime('%b %d, %Y %I:%M%P') %>"><%= message.body %></div>
            </div>
        <% end %>
    </div>
</div>