<ul class="conversations list-unstyled">
  <% @conversations.each do |conversation| %>
    <li class="conversation media <%= 'unread' if conversation.unread?(current_user) %> <%= 'active' if @conversation && @conversation == conversation %>">
      <a href="<%= url_for conversation %>">
        <%= conversation.other_participant(current_user.id).render_avatar(45) %>
        <div class="media-body">            
          <div class="conversation-user"><%= conversation.other_participant(current_user.id).name %> <div class="badge badge-default"><%= time_ago_in_words conversation.last_message_at %></div></div>
          <div class="conversation-last-message"><%= truncate(conversation.messages.first.body, length: 40) %></div>
        <div>
      </a>
    </li>
  <% end %>
<ul>