<% title 'Conversations' %>

<%= content_for :page_header do %>
  <h1>Conversations</h1>
<% end %>
<div class="container">
  <div class="alert alert-info">
    You haven't started any conversations yet.
  </div>
</div>

