var newConversationBox = $('<%= escape_javascript(render 'conversation_box') %>');
$('.conversation-box .messages').append(newConversationBox.find('.messages .message'));
$('.conversation-box .pagination').replaceWith(newConversationBox.find('.pagination'));
$('.conversation-box').removeClass('loading');
$('[data-toggle="tooltip"]').tooltip();
