<% title 'Conversations' %>

<%= content_for :page_header do %>
    <h1>Conversation with <%= @conversation.other_participant(current_user.id).name %></h1>
<% end %>
<div class="container">
    <button type="button" class="btn btn-primary btn-sm mb-4 d-block d-md-none" data-toggle="offcanvas">Recent Conversations</button>
    <div class="row row-offcanvas row-offcanvas-left">
        <nav class="sidebar col-md-4 sidebar-offcanvas">
            <%= render 'list' %>
        </nav>
        <div class="col-md-8">
            <%= render 'conversation_box' %>
            <%= render 'messages/form', recipient_id: @recipient.id %>
        </div>
    </div>
</div>