<%= simple_form_for(@job) do |f| %>

  <div class="form-inputs">
    <%= f.input :job_type %>
    <%= f.input :title %>
    <%= f.input :country, collection: ISO3166::Country.translations %>
    <%= f.association :category %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
