<div class="jobs">
  <% jobs.each do |job| %>
    <div class="job">
      <a href="<%= job_path(job) %>">
        <div class="job-info">
          <div class="avatar-wrapper">
            <%= job.poster.render_avatar %>
          </div>
          <div class="media-body">
            <div class="job-title h3"><%= job.title %><div class="badge badge-job"><%= job.job_type.capitalize %></div></div>
            <div class="job-category h6"><%= job.category.name %></div>
            <div class="job-description"><%= truncate(job.description, length: 80) %></div>
          </div>
        </div>
        <div class="job-meta">
          <div class="row">
            <div class="col-6">
              <div class="job-created-date"><i class="ion-android-time"></i> <%= job.created_at.strftime('%b %d, %Y') %></div>      
            </div>
            <div class="col-6 text-right">
              <div class="applicant-count">Applicants: <%= job.applicants.count %></div>        
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>

<%= will_paginate jobs %>