<% title 'Jobs' %>
<% meta_description "Search and filter available jobs for creative talent users." %>

<div class="page-header">
  <div class="container">
    <h1>Jobs</h1>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <a class="btn btn-white d-md-none mb-4 d-block" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters">
        <i class="ion-android-funnel"></i> Filters
      </a>
      <div class="filters collapse" id="filters">
        <%= simple_form_for(Job.new) do |f| %>
          <%= f.input :title, input_html: { name: :title, value: params[:title] } %>
          <%= f.input :category, collection: Category.all, selected: params[:category], input_html: { name: :category }, include_blank: 'Any' %>
          <%= f.input :job_type, selected: params[:job_type], input_html: { name: :job_type }, include_blank: 'Any' %>
          <%= f.input :country, collection: ISO3166::Country.translations.sort.map {|k,v| [v,k]}, selected: params[:country], input_html: { name: :country }, include_blank: 'Anywhere' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 ml-auto">
      <%= render 'list', jobs: @jobs %>
    </div>
  </div>
</div>
