<% title 'My Job Postings' %>

<div class="page-header">
  <div class="container">
    <h1>My Job Postings <a href="<%= current_user.postings_remaining? ? new_job_path : products_path %>" class="btn btn-primary float-right">New Job</a></h1>
  </div>
</div>
<div class="container">

  <div class="alert alert-<%= current_user.postings_remaining? ? 'success' : 'warning' %> if " role="alert">
    You have <strong><%= current_user.fulltime_postings_remaining %></strong> full-time job posting credits remaining and <strong><%= current_user.freelance_postings_remaining %></strong> freelance job postings remaining.<br/>
    <%= link_to products_path do %>Purchase more now<% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
        <%= render 'list', jobs: @jobs %>
    </div>
  </div>
</div>

