<%= content_for :page_header do %>
    <h1>New Job</h1>
<% end %>

<div class="container">

    <div class="job-card mb-5">
        <div class="job-description">
            <%= render 'form', job: @job %>
        </div>
    </div>

</div>