<% title @job.title %>
<% meta_description @job.description.truncate(150) %>

<div class="container">
  <% content_for :page_header do %>
    <h1><%= @job.title %></h1>
    <h3><%= @job.category.name %></h3>
  <% end %>

  <div class="job-card mb-5">
    <div class="job-description">
      <%= simple_format(@job.description) %>
    </div>
    <% if policy(@job).update? %>
      <%= link_to '<i class="ion-edit"></i> Edit'.html_safe, edit_job_path(@job), class: 'mt-4 d-block' %>
    <% end %>
  </div>

  <div class="job-apply">
    <% if @job.errors.any? %>
      <% @simulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    <% if policy(@job).apply? %>    
      <%= link_to 'Apply', apply_job_path(@job), class: 'btn btn-primary' %>
    <% end %>
  </div>

  <% if policy(@job).edit? %>    
    <h3>Applicants</h3>
    <div class="applicants">
      <% @job.applicants.each do |applicant| %>
        <div class="applicant">
          <a href="<%= user_path(applicant) %>">
            <%= applicant.render_avatar %>
            <%= applicant.name %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>

</div>