<div class="comment" id="comment-<%= comment.id %>" data-id="<%= comment.id %>" data-name="<%= comment.user.name %>">
	<div class="row">
        <div class="col avatar-wrapper">
            <%= comment.user.render_avatar %>
        </div>
		<div class="col">
			<div class="comment-header">
                <%= link_to comment.user.name, comment.user %>
				<div class="comment-date float-right">
					<%= friendly_time comment.created_at %>
				</div>
			</div>
			<div class="comment-content">
				<%= raw simple_format(h(comment.content)) %>
			</div>
			<a href="#" class="comment-reply-link"><span class="ion-reply"></span> Reply</a>
		</div>
	</div>
</div>