<%= simple_form_for(@post_comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :post_id, as: :hidden, input_html: { value: @post.id } %>
    <%= f.input :parent_id, as: :hidden %>
    <%= f.input :content, label: 'Comment' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Submit' %>
  </div>
<% end %>
