<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post_comment.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post_comment.post %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post_comment.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post_comment.status %>
</p>

<%= link_to 'Edit', edit_post_comment_path(@post_comment) %> |
<%= link_to 'Back', post_comments_path %>
