<h4>Connections</h4>
<% if !@connections.blank? %>
    <div class="user-connections">
        <% @connections.each do |connection| %>
            <div class="user-connection">
                <%= link_to user_path(connection) do %>
                    <%= connection.render_avatar %>
                    <%= connection.name %>
                <% end %>
            </div>
        <% end %>
    </div>
    <%= link_to 'View all connections', connections_user_path(user), class: 'btn btn-white btn-sm mt-3' %>
<% else %>
    <div class="alert alert-info">No user connections yet.</div>
<% end %>