<div class="nested-fields">
  <%= f.input :school %>
  <%= f.input :degree %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_year %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_year %>
    </div>
  </div>
  <%= link_to_remove_association "Remove Education", f %>
</div>
