<div class="nested-fields">
  <%= f.input :company %>
  <%= f.input :title %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_year %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_year %>
    </div>
  </div>
  <%= f.input :description %>
  <%= link_to_remove_association "Remove Experience", f %>
</div>
