<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-8">
      <div class="user-profile container">

        <div class="row">
            <div class="jumbotron">
              <%= f.input :name %>
              <%= f.input :tagline %>
              <%= f.input :country, collection: ISO3166::Country.translations.sort.map {|k,v| [v,k]} %>
              
              <%= f.association :category%>
              <p class="h3"><%= @user.tagline %></p>
              <h1><%= @user.name%></h1>
              <div class="row">
                  <div class="col-6">
              <div class="avatar-wrapper">
                    <%= @user.render_avatar(140) %>
                  </div>
              </div>  

                  <div class="col-6">
                    <%= f.input :avatar %> 
                  </div>
                                         
              </div>
                                                      
            </div>
        </div>
        <div class="user-elevator-pitch">
            <%= f.input :elevator_pitch %>
        </div>
        <hr class="my-4">              
        <h3>Canvas</h3>
        <div class="portfolio-items row">
          <%= f.simple_fields_for :portfolio_items do |portfolio_item| %>
            <%= render 'portfolio_item_fields', f: portfolio_item %>
          <% end %>
          <div class="links col-md-12">                
            <%= link_to_add_association 'Add Item', f, :portfolio_items %>
          </div>
        </div>
        <hr class="my-4">                        
        <h3>Experience</h3>
        <div class="experiences">
          <%= f.simple_fields_for :experiences do |experience| %>
            <%= render 'experience_fields', f: experience %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Experience', f, :experiences %>
          </div>
        </div>
        <hr class="my-4">                        
        <h3>Education</h3>
        <div class="educations">
          <%= f.simple_fields_for :educations do |education| %>
            <%= render 'education_fields', f: education %>
          <% end %>
        </div>
        <div class="links">        
          <%= link_to_add_association 'Add Education', f, :educations %>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="form-actions stick">
        <%= f.button :submit, value: 'Update Profile', class: 'fixed-submit' %>
      </div>
    </div>
  
  </div>

<% end %>
