<% users.each do |user| %>
  <div class="col-md-4">
    <div class="user" id="user-<%= user.id %>">
      <a href="<%= user_path(user) %>">    
        <div class="mb-3">
          <%= raw user.render_avatar %>
        </div>
        <div class="media-body">

            <h3><%= user.name %></h3>
            <h4><%= user.category.name if user.category %></h4>

            <% if !user.country.blank? %>
              <div class="user-country badge badge-default">
                <%= image_tag 'flags/' + user.country + '.png', class: 'flag' %>
                <%= c = ISO3166::Country[user.country] %>
              </div>
            <% end %>

            <% if user.friends.count > 0 %>
              <div class="user-connections-count badge badge-default">
                <i class="ion-person-stalker"></i> <%= pluralize(user.friends.count, 'connection') %>
              </div>
            <% end %>

            <% if user.portfolio_items.count > 0 %>
              <div class="user-portfolio-items-count badge badge-default">
                <i class="ion-ios-briefcase"></i> <%= pluralize(user.portfolio_items.count, 'canvas item') %>
              </div>
            <% end %>

            <% if user.endorsements.count > 0 %>
              <div class="user-endorsements-count badge badge-default">
                <i class="ion-ribbon-b"></i> <%= pluralize(user.endorsements.count, 'endorsement') %>
              </div>
            <% end %>
        </div>
      </a>    
      <% if policy(user).message? %>                    
        <div class="actions">
          <%= render 'connections/actions', user: user %>
          <%= link_to '<i class="ion-ios-chatbubble-outline"></i> Message'.html_safe, '#', class: 'message-user', data: { user_id: user.id, user_name: user.name} %>      
        </div>
      <% end %>
      <% if defined? requests %>
        <div class="actions">
          <%= link_to '<i class="ion-android-close"></i>Decline'.html_safe, decline_connection_user_path(user), class: 'decline' %>
          <%= link_to '<i class="ion-android-checkmark-circle"></i>Confirm'.html_safe, accept_connection_user_path(user), class: 'accept' %>
        </div>
      <% end %>          
    </div>
  </div>
<% end %>
<div class="col-md-12">
  <%= will_paginate users %>
</div>