<div class="page-header">
  <div class="container">
    <h1><%= @user.name %> Connections</h1>
  </div>
</div>
<div class="container">
    <% if @connections.any? %>
        <div class="users row">
            <%= render 'users/list', users: @connections %>
        </div>
    <% else %>
        <div class="alert alert-info">This user has not made any connections yet.</div>
    <% end %>
</div>