
<% title 'Talent' %>
<% meta_description "Search and filter the creative professional talent network." %>

<div class="page-header">
  <div class="container">
    <h1>Talent</h1>
  </div>
</div>
<div class="container">

      <a class="btn btn-white d-md-none mb-4 d-block" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters">
        <i class="ion-android-funnel"></i> Filters
      </a>
      <div class="filters collapse" id="filters">
        <%= simple_form_for(User.new) do |f| %>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :name, input_html: { name: :uname, value: params[:uname] } %>
            </div>
            <div class="col-md-4">
              <%= f.input :category, collection: Category.all, selected: params[:category], input_html: { name: :category }, include_blank: 'Any' %>
            </div>
            <div class="col-md-4">
              <%= f.input :country, collection: ISO3166::Country.translations.sort.map {|k,v| [v,k]}, selected: params[:country], input_html: { name: :country }, include_blank: 'Anywhere' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="users row">
        <%= render 'users/list', users: @users %>
      </div>
</div>