<% title @user.name + '\'s Profile' %>
<% meta_description @user.elevator_pitch.truncate(150) if @user.elevator_pitch %>

<div class="container mt-5">

    <div class="row">

        <div class="col-md-8">
            <div class="user-profile container">
                <div class="row">
                    <div class="jumbotron">
                        <% if policy(@user).update? %>
                            <%= link_to '<i class="ion-edit"></i> Edit'.html_safe, edit_user_path(@user), class: 'edit' %>
                        <% end %>
                        <h1 class="mb-1"><%= @user.name%></h1>
                        <p class="h3"><%= @user.tagline %></p>
                        <div class="user-meta">
                            <div class="user-country h5 mt-3">
                            <i class="ion-ios-location-outline"></i><%= c = ISO3166::Country[@user.country] %>
                            </div>
                        </div>
                        <div class="avatar-wrapper">
                            <%= @user.render_avatar(140) %>                        
                        </div>
                    </div>
                </div>
                <div class="user-actions">
                    <%= render 'connections/actions', respond: true, user: @user, link_class: 'btn btn-primary btn-sm' %>
                    <% if policy(@user).message? %>                    
                        <%= link_to '<i class="ion-android-chat"></i> Message'.html_safe, (current_user ? '#' : new_user_session_path), class: "btn btn-secondary btn-sm message-user", data: { user_id: @user.id, user_name: @user.name} %>
                    <% end %>
                </div>

                <% if current_user %>
                    <div class="user-elevator-pitch">
                        <%= simple_format(@user.elevator_pitch) %>
                    </div>
                    <% if @user.portfolio_items.any? %>
                        <hr class="my-4">            
                        <h3>Canvas</h3>
                        <div class="portfolio-items row">
                            <% @user.portfolio_items.each do |item| %>
                                <div class="col-md-6">
                                    <div class="portfolio-item">
                                        <a href="<%= item.url %>" target="_blank" rel="nofollow">
                                            <%= image_tag item.image(:medium) %>
                                            <div class="portfolio-item-description"><%= item.description %></div>
                                        </a>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                    <% if @user.experiences.any? %>                
                        <hr class="my-4">                        
                        <h3>Experience</h3>
                        <div class="experiences">
                            <% @user.experiences.each do |experience| %>
                                <div class="experience row">
                                    <div class="experience-years col-md-4">
                                        <%= experience.start_year %> - 
                                        <%= experience.end_year %>
                                        <div class="time-line <%= 'last' if experience == @user.experiences.last %>"></div>
                                    </div>
                                    <div class="col-md-8">
                                        <h4><%= experience.company %></h4>
                                        <h5><%= experience.title %></h5>
                                        <p><%= experience.description %></p>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                    <% if @user.educations.any? %>                
                        <hr class="my-4">                        
                        <h3>Education</h3>
                        <div class="educations">
                            <% @user.educations.each do |education| %>
                                <div class="education row">
                                    <div class="education-years col-md-4">
                                        <%= education.start_year %> - 
                                        <%= education.end_year %>
                                        <div class="time-line <%= 'last' if education == @user.educations.last %>"></div>
                                    </div>
                                    <div class="col-md-8">
                                        <h4><%= education.school %></h4>
                                        <h5><%= education.degree %></h5>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                    <hr class="my-4">                        
                    <h3>Endorsements
                        <% if policy(@user).endorse? %>                                    
                            <a href="#" data-toggle="modal" data-target="#endorsement-modal" class="btn btn-light btn-sm float-right">
                                <i class="ion-ribbon-b"></i> Endorse <%= @user.name %>
                            </a>
                        <% end %>
                    </h3>
                    <div class="endorsements">
                        <% @user.endorsements.each do |endorsement| %>
                            <div class="endorsements">
                                <blockquote class="blockquote">
                                    <p class="mb-0"><%= endorsement.body %></p>
                                    <footer class="blockquote-footer"><cite title="<%= endorsement.endorser.name %>"><%= endorsement.endorser.name %></cite></footer>
                                </blockquote>     
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="col-md-4 user-info">
            <%= render 'connections', user: @user %>
        </div>

    </div>
    

</div>

<div class="modal fade" id="endorsement-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Endorse <%= @user.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'endorsements/form', user_id: @user.id %>
      </div>
    </div>
  </div>
</div>






