html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 140px;
    @include media-breakpoint-down(sm) {            
        margin-bottom: 280px;
    }
}

.footer-main {
    margin-top: 5rem;
    // background: theme-color('primary');
    background: transparent;
    // color: #a079bb;
    color: $gray-500;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include media-breakpoint-down(sm) {
        margin-top: 3rem;
        position: static;      
        margin-bottom: 52px;    
        text-align: center;
        div[class^="col-"] {
            margin-bottom: 20px;
        }
        .social {
            float: none !important;
        }
    }
    a {
        color: $gray-500;
        &:hover {
            color: $purple;
        }
    }
    .row {
        align-items: center;
    }
    .logo {
        max-width: 75px;
    }
    p {
        margin: 0;
    }
    .logo {
        filter: #{"grayscale(100%)"};
        opacity: .3;
        transition: all .3s ease-in-out;
        &:hover {
            filter: #{"grayscale(0%)"};
            opacity: 1;
        }
    }
}