.section-subscribe {
    input[type=text],
    input[type=email],
    input[type=password] {
        border-radius: 26px;
        line-height: 3.3;
        padding: 0 20px;
        border: 0;
        box-shadow: $input-box-shadow;
        &:focus {
            border: 0;
            outline: none;
        }
    }
}


select.form-control:not([size]):not([multiple]) {
    height: 2.6rem;
    -webkit-appearance: none;
}
.form-group.select, .form-group.enum {
    position: relative;
    &:before {
        content: '\f35f';
        font-family: 'Ionicons';
        position: absolute;
        bottom: 5px;
        right: 24px;
        font-size: 20px;
    }
}

button[type=submit].btn-submit {
    background: $purple;
    position: absolute;
    top: 3px;
    right: 5px;
    border-radius: 50%;
    outline: none;
    border: 0;
    height: 46px;
    width: 46px;
    color: #fff;
    cursor: pointer;
}

label {
    font-size: .8rem;
    text-transform: uppercase;
    color: $light-gray;
    font-weight: bold;
    letter-spacing: 1px;
}

.help-block {
    font-size: .85rem;
    margin-top: 10px;
}
.has-error, .terms {
    .help-block {
        color: $red;
        width: 100%;
        display: block;
    }
}

.terms {
    input[type=checkbox] {
        margin-right: 10px;
    }
    .help-block {
        margin-top: 0;
    }
}

.form-actions {
    margin-top: 20px;
}

#mc-embedded-subscribe-form {
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    input[type=email] {
        width: 100%;
    }
}

.add_fields, .remove_fields {
    @extend .btn-sm;
    margin: 10px 0;
    display: inline-block;
}

.add_fields {
    @extend .btn-secondary;
    &:before {
        content: '\f48a';
        font-family: 'Ionicons';
        margin-right: 7px;
    }
}
.remove_fields {
    @extend .btn-danger;
    &:before {
        content: '\f463';
        font-family: 'Ionicons';
        margin-right: 7px;
    }
}

.links {
    clear: both;
}

@include media-breakpoint-down(sm) {            
    .fixed-submit {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 10;
    }
}