.navbar-main {
    background: white !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    .navbar-brand {
        margin-right: 2rem;
        @include media-breakpoint-down(sm) {            
            padding-top: .8rem;
        }
        img {
            max-width: 64px;
        }
    }
    .navbar-nav {
        @include media-breakpoint-down(sm) {      
            &.navbar-links {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 100;
                flex-direction: row;   
                background: white;
                box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
                li {
                    flex-grow: 1;
                    flex-basis: 0;
                }
                a, i {
                    color: $purple !important;
                }
            }   
        }            
        align-items: center;
    }
    .dropdown {
        .dropdown-menu {
            position: absolute;
            right: 0;
            left: auto;
        }
        img {
            max-width: 40px;
        }
        .avatar {
            max-width: 28px;
        }
    }
    .nav-item > a {
        position: relative;
        color: $gray-700;
        font-size: .88rem;
        font-weight: 900;
        i {
            color: $purple;
            clear: both;
            display: block;
            text-align: center;
            font-size: 24px;
        }
    }
    .nav-link {
        padding-left: 1.2rem !important;
        padding-right: 1.2rem !important;
    }
    .search-form {
        @include media-breakpoint-down(md) {
            display: none !important;
        }
        input {
            min-width: 200px;
        }
        button {
            min-width: auto;
            color: $blue;
            border: 0;
            background: transparent;
            &:hover {
                background: $gray-100;
            }
        }
    }
}

.navbar-toggler {
    background: white;
    position: absolute;
    right: 20px;
    top: 15px;
}

.logo-dark {
    display: none;
}
.header-dark-active {
    .navbar-main {
        color: #fff;    
        position: absolute;
    }
    .logo-dark {
        display: flex;
    }
    .logo-light {
        display: none;
    }
    .navbar-main {
        background: transparent !important;    
        .nav-item > a {
            color: #fff;
            i {
                color: #fff;
            }
        }
    }
    #notifications {
        position: absolute;
    }
    .search-form {
        input {
            background: transparent;
            border-color: rgba(255,255,255,.3);
            color: white;
            &::-webkit-input-placeholder {
                color: #fff;
            }
        }
        button {
            color: #fff;
            &:hover {
                background: rgba(255,255,255,.1);
            }
        }
    }
}