html {
    font-size: 16px;
}
h1, .h1 {
    font-weight: bold;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {            
        font-size: 2rem;
    }
}
h2, .h2 {
    margin-bottom: 3rem;    
    @include media-breakpoint-down(sm) {            
        font-size: 1.5rem;
    }
}
h3, .h3 {
    color: $purple;
}
h4, .h4 {
    font-size: 1.2rem;
}

.primary {
    color: theme-color('primary');
}
a {
    color: #898790;
    transition: all .2s ease-in-out;
    &:hover {
        color: theme-color('secondary');
        text-decoration: none;
    }
}

#notifications {
    margin-top: 2rem;
}
.alert {
    a {
        color: inherit;
        text-decoration: underline;
    }
}

ul.list-styled {
    li {
        list-style: none;
        position: relative;
        margin-bottom: 8px;

        &:before {
            content: '\f10a';
            font-family: 'Ionicons';
            position: absolute;
            top: -1px;
            left: -20px;
        }
        li {
            list-style: circle;
            &:before {
                content: '';
            }
        }
    }
}

img {
    max-width: 100%;
}