// Fonts
$font-family-base: 'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$h1-font-size: 2.9rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Colors
$purple: #702BA2;
$green: #8FD45D;
$blue: #557fb2;
$light-gray: #b3aec1;
$light-blue: #9898b1;

$theme-colors: (
  primary: $purple,
  secondary: $blue,
  success: $green,
  notice: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  alert: $red,
  error: $red,
  light: $gray-100,
  dark: $gray-800
);

$body-color: #16101A;
$body-bg: #f5f6f9;
$grid-gutter-width: 48px;

// Buttons
$input-btn-padding-y:       .6rem;
$input-btn-padding-x:       1.1rem;
$btn-font-weight: 800;
$btn-border-radius: 25px;

// Forms
$input-border-radius: 5px;
$input-height: 2rem;
$input-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
$input-focus-border-color: lighten(theme-color("primary"), 25%)