<p>Thanks for signing up <%= @user.name %>!</p>

<p>Here are 10 invitation codes to give out to friends and family who may also want to join the community.  Each code is limited to one account creation:</p>

<h3>Invitation Codes</h3>
<p>
<% @invitation_codes.each do |invitation_code| %>
    <%= invitation_code.code %>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.encode(new_user_registration_url(invitation_code: invitation_code.code)) %>" target="_blank">[Share on Facebook]</a>
    <a href="https://twitter.com/home?status=<%= URI.encode("You've been invited! Sign up today on Gigz and join the growing community of creative talents from all over the world. In return we will donate 1 t-shirt to a child in underprivileged communities in developing countries." + new_user_registration_url(invitation_code: invitation_code.code)) %>" target="_blank">[Tweet]</a>
    <br>
<% end %>
</p>
