<%= simple_form_for(@endorsement) do |f| %>
  <%= f.error_notification %>

  <%= f.input :user_id, as: :hidden, input_html: { value: user_id } %>
  <%= f.input :body, label: false %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
