<% if current_user && current_user.voted_up_on?(@post) %>
  <%= link_to '<i class="ion-ios-heart-outline"></i><span class="like-count">'.html_safe + @post.votes_for.size.to_s + '</span>'.html_safe, unlike_post_path(@post), method: :post, remote: true, class: 'like liked' %>
<% else %>
  <%= link_to '<i class="ion-ios-heart-outline"></i><span class="like-count">'.html_safe + @post.votes_for.size.to_s + '</span>'.html_safe, like_post_path(@post), method: :post, remote: true, class: 'like' %>
<% end %>