<div class="post" data-id="<%= post.id %>">
  <div class="post-meta">
    <div class="post-user-avatar avatar">
      <%= post.user.render_avatar %>
    </div>
    <div class="post-details">
      <div class="post-user-name">
        <%= post.user.name %>
      </div>
      <div class="post-date">
        <%= friendly_time post.created_at %>
      </div>
    </div>
  </div>
  <% if post.image.exists? %>
    <%= link_to image_tag(post.image(:small)), post, class: 'post-img' %>
  <% end %>
  <div class="post-intro">
    <h3><%= link_to post.title, post %></h3>
    <div class="post-description"><%= post.description %></div>
  </div>
  <div class="post-footer">
    <div class="post-stats">
      <% if post.comments.any? %>
        <span class="stat">
            <%= pluralize(post.comments.count, 'comment') %>
        </span>
      <% end %>
      <% if post.votes_for.any? %>   
        <span class="stat">
         <%= pluralize(post.votes_for.size, 'like') %>
        </span>           
      <% end %>
    </div>
    <div class="post-actions">
      <% if current_user.voted_up_on? post %>
        <%= link_to '<i class="ion-ios-heart-outline"></i> Unlike'.html_safe, unlike_post_path(post), remote: true, method: :post, class: 'liked' %>
      <% else %>
        <%= link_to '<i class="ion-ios-heart-outline"></i> Like'.html_safe, like_post_path(post), remote: true, method: :post %>
      <% end %>
      <%= link_to '<i class="ion-ios-chatbubble-outline"></i> Comment'.html_safe, post_path(post, anchor: 'comment-form-header') %>
      <a class="dropdown-toggle" href="#" id="post-share-<%= post.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="ion-share"></i> Share
      </a>
      <div class="dropdown-menu dropdown-menu-right share" aria-labelledby="post-share-<%= post.id %>">
        <%= link_to '<i class="ion-social-facebook"></i>'.html_safe, 'https://www.facebook.com/sharer/sharer.php?u=' + URI.encode(post_url(post)) %>
        <%= link_to '<i class="ion-social-twitter"></i>'.html_safe, 'https://twitter.com/home?status=' + URI.encode(post_url(post)) %>
        <%= link_to '<i class="ion-social-googleplus"></i>'.html_safe, 'https://plus.google.com/share?url=' + URI.encode(post_url(post)) %>
      </div>
    </div>
  </div>
</div>