<% title 'Feed' %>
<% body_class 'header-dark-active' %>

<div class="hero inverse-bg">
  <div class="container text-center">
    <h1>What's your gig?</h1>
    <p class="h4 mb-5">A global professional network to discover and connect creative talents.</p>
  </div>
</div>

<div class="container mt-5">

  <div class="row">

    <div class="col-md-3">
      <div class="user-card stick">
        <div class="user-card-bg">
        </div>
        <%= link_to current_user.render_avatar, user_path(current_user) %>
        <h6><%= current_user.name %></h6>
        <p><%= current_user.tagline %></p>
        <a href="<%= jobs_path %>" class="btn btn-white btn-sm">Jobs</a>
        <a href="<%= conversations_path %>" class="btn btn-white btn-sm">Messages</a>
        <a href="<%= my_jobs_path %>" class="btn btn-primary btn-sm">Post a Job</a>
      </div>
    </div>

    <div class="col-md-6">
      <%= link_to '<i class="ion-edit mr-2"></i> New Post'.html_safe, new_post_path, class: 'btn btn-secondary d-block mb-4 btn-sm' %>    
      <div class="posts">
        <% @posts.each do |post| %>
          <%= render 'post', post: post %>
        <% end %>
      </div>
      <%= will_paginate @posts %>
    </div>

    <div class="col-md-3">
      <div class="stick">
        <%= render 'users/connections', user: current_user %>
        <a href="<%= users_path %>" class="btn btn-white btn-sm d-block mt-4">Talent</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.encode(new_user_registration_url(invitation_code: @invitation_code.code)) %>" target="_blank" class="btn btn-secondary btn-sm d-block mt-3"><i class="ion-person-add"></i> Invite a friend</a>
      </div>
    </div>

  </div>

</div>
