var post = $('.posts').find('[data-id="<%= @post.id %>"]');
if (post.length) {
    var newPost = "<%= escape_javascript(render 'post', post: @post) %>";
    post.replaceWith(newPost);
}

var fixedLike = $('.single-post .like');
if (fixedLike.length) {
    var newFixedLike = "<%= escape_javascript(render 'fixed_like', post: @post) %>";
    fixedLike.replaceWith(newFixedLike);
}