<% title 'New Post' %>
<% content_for :page_header do %>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>New Post</h1>
        </div>
    </div>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <%= render 'form', post: @post %>
        </div>
    </div>
</div>
