<% title @post.title %>
<% body_class 'single-post' %>
<% meta_description(@post.description) %>
<div class="container">

  <div class="row post-header text-center">
    <div class="col-md-8 mx-auto">
      <h1><%= @post.title %></h1>
      <div class="post-meta">
        <%= @post.user.render_avatar %>
        <%= @post.user.name %>
        <span class="post-date ml-4">
          <i class="ion-android-calendar mr-2"></i> <%= friendly_time @post.created_at %>
        </span>
      </div>
    </div>
    <% if @post.image.exists? %>
      <div class="col-md-12">
        <div class="post-img">
          <%= image_tag @post.image(:large) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="post-content">
        <%= @post.content.html_safe %>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-8 mx-auto">
    <h4 class="mb-4">Share on:</h4>  
    <div class="share">
      <%= link_to '<i class="ion-social-facebook"></i>'.html_safe, 'https://www.facebook.com/sharer/sharer.php?u=' + URI.encode(post_url(@post)) %>
      <%= link_to '<i class="ion-social-twitter"></i>'.html_safe, 'https://twitter.com/home?status=' + URI.encode(post_url(@post)) %>
      <%= link_to '<i class="ion-social-googleplus"></i>'.html_safe, 'https://plus.google.com/share?url=' + URI.encode(post_url(@post)) %>
    </div>
    <%= render 'fixed_like' %>
  </div>
</div>

  <div class="row post-comments">
    <div class="col-md-8 mx-auto">
      <% if @post.approved_root_comments.any? %>
        <h4>Comments</h4>
        <div class="post-comments">
          <% @post.approved_root_comments.each do |comment| %>
            <%= render 'post_comments/comment', comment: comment %>
            <% if comment.approved_children.any? %>
              <div class="comment-children">
              <% comment.approved_children.each do |child_comment| %>
                <%= render 'post_comments/comment', comment: child_comment %>
              <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <h4 id="comment-form-header">Leave a comment</h4>      
      <%= render 'post_comments/form', post_comment: @post_comment %>
    </div>
  </div>

</div>
