.btn {
    font-size: 1.1rem;
    color: #fff;
    min-width: 150px;
    i {
        margin-right: .5rem;
    }
}

.btn-sm {
    font-size: .9rem;
}

.btn-lg {
    padding: 0.8rem 2rem;
    font-size: 1.25rem;
    border-radius: 3.3rem;
    min-width: 180px !important;
}

.btn-light {
    color: #111;
}

.btn-white {
    color: $gray-600;
    background: #fff;
}