.categories {
    div[class^='col-'] {
        margin-bottom: 30px;        
    }
    .category {
        border: 3px solid #D8D8D8;
        padding: 15px;
        min-height: 200px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: all .3s ease-in-out;
        img {
            transition: all .3s ease-in-out;                    
            margin-bottom: 15px;
            filter: unquote("grayscale(100%)"); 
            opacity: .2;
            max-width: 64px;
        }
        h3 {
            transition: all .3s ease-in-out;        
            color: #D8D8D8;
            font-size: 1.2rem;
        }
        &:hover {
            border-color: theme-color('primary');
            img {
                filter: unquote("grayscale(0%)"); 
                opacity: 1;
            }
            h3 {
                color: theme-color('primary');
            }      
        }
    }
}