.conversations {
    .conversation {
        background: transparent;
        padding: 14px 10px;
        border-bottom: 1px solid #e7e9ec;
        &.active {
            background: rgba(233, 234, 243, 0.54);
        }
        .avatar {
            margin-right: 10px;
        }
        .conversation-user {
            font-size: .9rem;
            font-weight: bold;
            color: black;
        }
        .badge {
            float: right;
        }
        &.unread {
            background: white;            
            a {
                font-weight: bold;
                color: black;
            }
        }
    }
}

@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to { 
      -webkit-transform: rotate(360deg);
    }
}

.conversation-box {
    background: white;
    padding: 20px 30px;
    border-radius: 5px;
    max-height: 80vh;
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    box-shadow: inset 0px 1px 11px rgba(136, 138, 169, 0.27);
    &.loading {
        .pagination {
            display: flex;
        }
    }
    .pagination {
        display: none;
        position: absolute;
        top: 0;
        font-size: .9rem;
        i {
            margin-right: 10px;
            width: 21px;
            height: 21px;
            text-align: center;
            &:before {
                animation: 1s rotate linear infinite;
                transform-origin: 40% 47%;
            }
        }
    }
    .messages {
        flex-direction: column-reverse;
        display: flex;
    }
    .message {
        clear: both;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        &:last-child {
            padding-top: 30px;
        }
        .avatar {
            float: left;
        }
        .message-body {
            padding: 8px 12px;
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 5px;
            background: #e5e4ef;     
            max-width: calc(100% - 80px);       
        }
        .message-time {
            clear: both;
            font-size: .75rem;
            color: #cfd2d8;
            margin-left: 60px;
            padding-top: 6px;
        }
        &.me {
            text-align: right;
            .message-body {
                background: $blue;
                color: #fff;
            }
            .avatar, .message-body {
                float: right;
            }
            .message-time {
                margin-left: 0px;
                margin-right: 60px;            
            }
        }
    }
}

.unread-conversations {
    width: 8px;
    height: 8px;
    background: $red;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
}