.experience-years, .education-years {
    padding-left: ($grid-gutter-width + 20px);
    color: $light-gray;

    .time-line {
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background: $gray-200;
        margin-top: 5px;
        margin-left: 5px;
        position: absolute;
        top: 1px;
        left: $grid-gutter-width / 2;
        &:before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background: lighten($purple, 20%);
            border-radius: 50%;
            margin-left: -4px;
        }
        &.last {
            background: transparent;
        }
    }
}

.education-years {
    .time-line {
        &:before {
            background: lighten($blue, 5%);
        }
    }
}

.experience, .education {
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: .9rem;
        color: $light-gray;
        letter-spacing: 1px;
        text-transform: uppercase;
        
    }
}