.job-apply {
    .btn {
        margin-bottom: 40px;
    }
}

.jobs {
    .job {
        .job-info {
            display: flex;
            padding: 30px;
        }
        border: 1px solid #e5eaf1;
        background: white;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        margin-bottom: 40px;
        .job-description {
            margin-bottom: 10px;
        }
        .badge {
            background: #00adff;
            float: right;
            padding: 0.3em 0.4em;
            font-size: .9rem;
        }
        &:hover {
            background: $gray-100;
        }
        a {
            color: inherit;
        }
        .avatar {
            float: left;
            margin-right: 3rem;
            @include media-breakpoint-down(sm) {            
                margin-right: 1rem;
                max-width: 40px;
            }
        }
        .job-meta {
            border-top: 1px solid $gray-200;
            background: rgba(248, 249, 250, 0.4);
            padding: 8px 20px;
            color: $light-blue;
        }
    }
}

.job-card {
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 8px;
}