.portfolio-item {
    background: #f5f6f9;
    img {
        max-width: 100%;
    }
    .portfolio-item-description {
        text-align: center;
        padding: 5px;
        margin-bottom: 30px;
    }
}