.posts {

    .post {
        border: 1px solid #e5eaf1;
        background: white;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        margin-bottom: 40px;
        display: inline-block;
        width: 100%;

        .post-description {
            color: $light-blue;        
        }

        .post-meta {
            display: flex;
            align-items: center;
        }
        .post-details {
            flex-direction: row;
        }
        h3 {
            a {
                color: #212121;
            }
        }
        .avatar {
            margin-right: 20px;
            max-width: 50px;
        }
        .post-img {
            display: inline-block;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .post-date {
            color: $light-blue;
        }
        .post-intro, .post-meta {
            padding: 20px;        
        }
        .post-stats {
            font-size: .9rem;
            .stat {
                margin-right: 10px;
            }
            @include media-breakpoint-down(md) {      
                width: 100%;
                line-height: 2.5;
            }
        }
        .post-footer {
            border-top: 1px solid $gray-200;
            color: $gray-900;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            a {
                color: $gray-900;
            }
            @include media-breakpoint-down(md) {      
                flex-direction: column;
            }
        }
        .post-actions {
            margin-left: auto;
            a {
                margin-left: 14px;
                &.liked {
                    color: $purple;
                }
            }
            @include media-breakpoint-down(md) {      
                width: 100%;
                margin-left: 0;
                a {
                    margin-left: 0;
                    margin-right: 14px;
                }
            }
        }
    }
}

.single-post {
    .post-header {
        padding-top: 5rem;
        padding-bottom: 4rem;
        .avatar {
            margin-right: 15px;
        }
    }
    .post-meta {
        color: $light-blue;
    }
    .post-content {
        font-size: 18px;
        margin-bottom: 60px;
        img {
            max-width: 100%;
            margin: 20px 0;
        }
        h2, h3, h4 {
            margin-bottom: 1rem;
            margin-top: 2rem;
        }
    }
    .avatar-wrapper {
        flex-grow: 0;
    }
    .avatar {
        max-width: 40px;
    }
    .post-img {
        margin-top: 40px;        
    }
    .share {
        display: inline-block;
        text-align: center;
        background: white;
        width: 100%;
        border-radius: 5px;
        a {
            display: block;
            float: left;
            width: 33%;
            font-size: 24px;
            border-right: 1px solid #e6e7ec;
            &:last-child {
                border-right: 0;
            }
        }
    }
    .like {
        position: fixed;
        left: 20px;
        bottom: 20px;
        background: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 0;
        font-size: .8rem;
        z-index: 100;
        &.liked {
            color: $purple;
        }
        i {
            font-size: 24px;
        }
        .like-count {
            display: block;
            margin-top: 8px;
        }
    }
}

.post-comments {
    margin-top: 40px;
    margin-bottom: 40px;
    .comment {
        margin: 20px 0;
    }
    .comment-children {
        margin-left: 40px;
        .comment-reply-link {
            display: none;
        }
    }
    .comment-date {
        color: $light-blue;
    }
}