.coupon-check {
    &.success {
        color: $green;
    }
    &.error {
        color: $red;
    }
}

.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    .product-image {
        margin-bottom: 1rem;
    }
    .product-price {
        font-size: 1.8rem;
        color: $gray-500;
        .product-per-post {
            font-size: .9rem;
        }
    }
    .product-name {
        margin-bottom: 1rem;
    }
    .product-description {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;  
        color: $gray-700;      
    }
}