.social {
    margin-left: auto;
}
.social a {
    padding: 10px;
}
.social i {
    font-size: 24px;
    // color: #fff;
}

.share {
    width: auto;
    min-width: auto;
    a {
        padding: 10px 15px;
        margin: 0 !important;
    }
}