.user {
    border: 1px solid #f1ebf7;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    height: 100%;
    border-radius: 8px;
    background: $white;
    text-align: center;
    >a { 
        padding: 30px;
        display: inline-block;
        width: 100%;
    }
    h3 {
        color: black;
        font-size: 1.2rem;
    }
    h4 {
        color: $gray-500;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }
    .badge {
        background: #d1d1d8;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .user-country {
        .flag {
            max-width: 20px;
            margin-right: 10px;
        }
    }
    .actions {
        padding: 0 20px 20px;
        a {
            margin: 0 10px;
            i {
                margin-right: 10px;
            }
        }
        .accept i {
            color: $green;
        }
        .decline i {
            color: $red;
        }
    }
}
.users {
    > .col-md-4 {
        margin-bottom: 40px;
    }
}

.filters {
    @include media-breakpoint-up(md) {            
        display: block;
    }
    margin-bottom: 40px;
    abbr {
        display: none;
    }
}

.avatar {
    border-radius: 50%;
    height: auto;
}

.applicants {
    .applicant {
        padding: 5px;
        .avatar {
            max-width: 30px;
        }
        &:first-child {
            border-top: 1px solid $gray-200;        
        }
        border-bottom: 1px solid $gray-200;
        &:hover {
            background: $gray-100;
        }
    }
}

.user-profile {
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    padding-bottom: 40px;
    .edit {
        position: absolute;
        right: 20px;
        top: 20px;
        background: white;
        padding: 5px 10px;
    }
    h1 {
        clear: both;
    }
    h3 {
        color: black;
        margin-top: 40px;
        margin-bottom: 34px;
        &:first-child {
            margin-top: 0;
        }
    }
    .jumbotron {
        padding: 4rem 2rem;
    }
    .user-meta {
        opacity: .3;
        .h5 {
            font-size: .95rem;
        }
        i {
            margin-right: 10px;
        }
    }
    .avatar-wrapper {
        margin-top: 30px;
        margin-bottom: -124px;
        position: relative;
        img {
            z-index: 2;
            position: relative;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: -5px;
            top: -5px;
            width: 150px;
            height: 150px;
            background: white;
            border-radius: 50%;
            z-index: 1;
        }
    }
    .jumbotron {
        width: 100%;
    }
    .user-elevator-pitch {
        margin: 60px 0 30px;
    }


}

.user-actions {
    text-align: right;
    z-index: 3;
    position: relative;
    a {
        margin: 5px 0;
    }
}

.user-connections {
    .user-connection {
        .avatar {
            max-width: 40px;
            margin-right: 10px;
            padding: 4px;
        }
    }
}

.devise { 
    .content-container {
        > .row {
            min-height: 100vh;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }
    background-image: asset-url('bg.jpg');
    background-attachment: scroll;
    background-size: cover;
    #notifications {
        display: none;
    }
    .box {
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.45);    
    }
}
.box {
    background: white;
    box-shadow: 0px 5px 20px rgba(214, 214, 226, 0.45);
    border-radius: 5px;
    padding: 30px 40px;
    width: 100%;
    h2 {
        font-size: 1.6rem;
        text-align: center;
    }
    input[type=submit] {
        width: 100%;
    }
}
.provider {
    padding: 12px 16px;
    color: white;
    display: block;
    text-align: center;
    margin-top: 12px;
    &:before {
        font-family: 'Ionicons';
        margin-right: 10px;
    }
    &.facebook {
        background: #3b5998;
        &:before {
            content: '\f231';
        }
    }
    &.linkedin {
        background: #007bb6;
        &:before {
            content: '\f239';
        }
    }
    &.google_oauth2 {
        background: #d34836;
        &:before {
            content: '\f34f';
        }
    }
}

.user-card {
    background: white;
    box-shadow: 0px 5px 20px rgba(214, 214, 226, 0.45);
    border-radius: 5px;
    text-align: center;
    p {
        color: $light-blue;
    }
    .user-card-bg {
        display: block;
        background: #e9ecef;
        height: 62px;
    }
    .avatar {
        display: block;
        margin: -40px auto 12px;
        max-width: 64px;
    }
    a {
        display: block;
        padding: 8px;
    }
}