<div class="categories row">
  <% Category.all.each do |category| %>
    <div class="col-md-3">
      <a href="<%= jobs_path(category: category.id) %>">
        <div class="category">
            <%= image_tag (category.image_file_name ? category.image : 'categories/' + category.name.parameterize + '.png')  %>
            <h3 class="category-name"><%= category.name %></h3>
        </div>
      </a>
    </div>
  <% end %>
</div>