<% body_class 'header-dark-active home' %>
<% title 'Professional Network' %>
<% meta_description "World's first dedicated Social networks for creative professional talent." %>


<div class="hero inverse-bg">
  <div class="container text-center">
    <h1>What's your gig?</h1>
    <p class="h4 mb-5">A global professional network to discover and connect creative talents.</p>
  </div>
</div>

<div class="container section-padded text-center">
  <h2>Find the perfect talent for your gig</h2>
  <%= render 'list' %>
  <%= link_to 'Explore More', users_path, class: 'btn btn-lg btn-primary mt-5' %>  
</div>

<div class="section-padded text-center" style="background:#ffffff;">
  <div class="container">
    <h2>Why Gigz?</h2>
    <div class="row">
      <div class="col-md-3 feature">
        <%= image_tag 'create.png' %>
        <h3>Create</h3>
        <p>Instantly set up your social profile free of charge.</p>
      </div>
      <div class="col-md-3 feature">
        <%= image_tag 'discover.png' %>
        <h3>Discover</h3>
        <p>Start adding talent to your network and immerse yourself with the incredible innovations in the works.</p>
      </div>
      <div class="col-md-3 feature">
        <%= image_tag 'post.png' %>
        <h3>Post</h3>
        <p>Add permanent or freelance gigs to the job board and start hiring creative talent to complete your endeavors.</p>
      </div>
      <div class="col-md-3 feature">
        <%= image_tag 'hire.png' %>
        <h3>Hire</h3>
        <p>Browse profiles and resumes of applicants to interview and hire top candidates to begin your gig.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-padded section-subscribe inverse-bg text-center">
  <div class="container">
    <h2>Subscribe for free leads from Gigz!</h2>
    <div id="mc_embed_signup">
        <form action="//ourgigz.us16.list-manage.com/subscribe/post?u=1c5d46e9486891914ec55e0c8&amp;id=8db999d57d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required="">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c5d46e9486891914ec55e0c8_8db999d57d" tabindex="-1" value=""></div>
          <button type="submit" class="btn-submit"><i class="ion-paper-airplane"></i></button>
          </div>
        </form>
    </div>
  </div>
</div>
