<p id="notice"><%= notice %></p>

<h1>Portfolio Items</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Url</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_items.each do |portfolio_item| %>
      <tr>
        <td><%= portfolio_item.user %></td>
        <td><%= portfolio_item.url %></td>
        <td><%= portfolio_item.description %></td>
        <td><%= portfolio_item.image %></td>
        <td><%= link_to 'Show', portfolio_item %></td>
        <td><%= link_to 'Edit', edit_portfolio_item_path(portfolio_item) %></td>
        <td><%= link_to 'Destroy', portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio Item', new_portfolio_item_path %>
