<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @portfolio_item.user %>
</p>

<p>
  <strong>Url:</strong>
  <%= @portfolio_item.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio_item.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @portfolio_item.image %>
</p>

<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<%= link_to 'Back', portfolio_items_path %>
