<% title 'Purchase Job Postings' %>

<% content_for :page_header do %>
    <h1 class="text-center">Purchase Job Postings</h1>
<% end %>
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="products row">
                <% @products.each do |product| %>
                    <div class="col-md-6">
                        <div class="product box">
                            <% if product.image.exists? %>
                                <div class="product-image"><%= image_tag product.image %></div>
                            <% end %>
                            <div class="product-price h5">$<%= number_with_precision( (product.price / 100), precision: 2) %> <span class="product-per-post">/ post</span></div>
                            <div class="product-name h3"><%= product.name %></div>
                            <div class="product-description"><%= product.description %></div>
                            <%= link_to 'Purchase', product_path(product), class: 'btn btn-secondary mt-auto' %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
