<div class="container content-container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto mt-5">
            <div class="box">
                <h2>Purchase <%= @product.name %></h2>
                <%= form_tag charges_path do %>
                <p>
                    <div class="amount h3">
                        Total:
                        <span class="currency-sign">$</span>
                        <span class="amount-value" data-base="<%= @product.price %>"><%= number_with_precision( (@product.price / 100), precision: 2)  %></span>
                    </div>
                </p>
                <p>
                    <div class="form-group">
                        <%= label_tag(:quantity, 'Quantity:') %>  
                        <%= number_field_tag(:quantity, 1, class: 'form-control quantity', min: 1) %>
                    </div>
                    <div class="form-group">
                        <%= label_tag(:couponCode, 'Coupon code:') %>
                        <%= text_field_tag(:couponCode, '', class: 'form-control coupon-code') %>
                        <div class="coupon-check"></div>
                    </div>
                    <%= hidden_field_tag(:productId, @product.id) %>
                </p>


                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="<%= @product.name %>"
                        data-locale="auto"></script>
                        <% end %>
            </div>
        </div>
    </div>
</div>