<div class="container content-container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="box">
                <h2>Order Summary</h2>
                <label class="product">
                    <span>Product: <%= @product.name %></span>
                </label>
                <label class="quantity">
                    <span>Quantity: <%= @quantity %></span>
                </label>
                <label class="subtotal">
                    <span>Subtotal: <%= number_to_currency(@amount * 0.01) %></span>
                </label>
                <% if !@coupon.nil? %>
                    <p>
                        <label class="coupon">
                        <span>Coupon: <%= @coupon.code %></span>
                        </label>
                    </p>
                <% end %>
                <div class="total mb-4">
                    <span style="font-weight:bold">Total: <%= number_to_currency(@final_amount * 0.01) %></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <%= link_to 'Create Job', new_job_path, class: 'btn btn-primary d-block' %>                    
                    </div>
                    <div class="col-md-6">
                        <%= link_to 'My Jobs', my_jobs_path, class: 'btn btn-secondary d-block' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
