<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - Gigz</title>
    <%= csrf_meta_tags %>
    <%= raw yield(:meta_description) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="WI0HzoBRKHa1rkRuYJnWWBHXUYX3sDJLojD4AEuWytk" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111165399-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111165399-1');
    </script>
  </head>

  <body class="<%= yield(:body_class) %>">
    <nav class="navbar navbar-main navbar-expand-md navbar-inverse bg-inverse">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag 'logo.png', class: 'logo-dark' %>
          <%= image_tag 'logo_color.png', class: 'logo-light' %>
        </a>
        <form class="mt-2 mt-md-0 d-flex search-form hidden-sm-down" action="<%= jobs_path %>" method="GET">
          <input class="form-control mr-sm-2" type="text" placeholder="Search Jobs" aria-label="Search Jobs" name="title">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="ion-ios-search-strong"></i></button>
        </form>
        <div class="d-flex ml-auto" id="navbarCollapse">
          <ul class="navbar-nav navbar-links ml-auto">
            <%= nav_link '<i class="ion-social-rss-outline"></i>'.html_safe, posts_path, nil, 'Feed' %>
            <%= nav_link '<i class="ion-ios-people-outline"></i>'.html_safe, users_path, nil, 'Talent' %>
            <%= nav_link '<i class="ion-ios-briefcase-outline"></i>'.html_safe, jobs_path, nil, 'Jobs' %>
            <% if current_user %>
              <%= nav_link '<i class="ion-ios-color-filter-outline"></i>'.html_safe, connections_path, nil, 'My Connections' %>
              <%= nav_link '<i class="ion-ios-chatboxes-outline"></i>'.html_safe + ('<span class="unread-conversations"></span>'.html_safe if @unread_conversations) , conversations_path, nil, 'Conversations' %>
            <% end %>
          </ul>
          <ul class="navbar-nav navbar-user ml-auto">
            <% if current_user %>          
              <li class="nav-item dropdown dropdown-user">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= raw current_user.render_avatar %>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="<%= user_path(current_user) %>">My Profile</a>
                  <a class="dropdown-item" href="<%= my_jobs_path %>">My Job Postings</a>            
                  <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
                </div>
              </li>
            <% else %>
              <%= nav_link 'Log in', new_user_session_path %>
            <% end %>
          </ul>          
        </div>
        <%# <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="ion-android-menu"></i>
        </button> %>
      </div>
    </nav>

    <% if content_for?(:page_header) %>
      <div class="page-header">
        <div class="container">
          <%= yield(:page_header) %>
        </div>
      </div>      
    <% end %>

    <% if !flash.blank? %>
      <div id="notifications">
        <div class="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "alert alert-" + name %>
          <% end %>
        </div>
      </div>
    <% end %>

    <main class="main">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <footer class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag 'logo_color.png', class: 'logo' %>
          </div>
          <div class="col-md-6 text-center">
            <p>All right reserved by Our Gigz Inc.</p>
            <p>
              <%= link_to 'About', show_page_path(slug: 'about') %> |
              <%= link_to 'Terms & Conditions', show_page_path(slug: 'terms-and-conditions') %> |
              <%= link_to 'Privacy Policy', show_page_path(slug: 'privacy-policy') %>
            </p>
          </div>
          <div class="col-md-3">
            <div class="social float-right">
                <a href="https://www.facebook.com/ourgigs" target="_blank"><i class="ion-social-facebook"></i></a>
                <a href="https://twitter.com/ourgigs" target="_blank"><i class="ion-social-twitter"></i></a>
                <a href="https://instagram.com/ourgigz" target="_blank"><i class="ion-social-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Message <span class="user-name"></span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'messages/form', recipient_id: 0 %>        
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
