<% body_class 'header-dark-active devise' %>
<% meta_description "World's first dedicated professional network for creative talent." %>

<% content_for :content do %>
  <div class="container content-container">
    <div class="row">
        <div class="col-md-5 mx-auto my-auto">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg.html_safe, class: "alert alert-" + name %>
            <% end %>
            <div class="box">
                <%= yield %>
            </div>
        </div>
    </div>
  </div>
  <div class="section-padded section-subscribe inverse-bg text-center">
    <div class="container">
      <h2>Subscribe now for your Invitation Code.</h2>
      <div id="mc_embed_signup">
          <form action="//ourgigz.us16.list-manage.com/subscribe/post?u=1c5d46e9486891914ec55e0c8&amp;id=8db999d57d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c5d46e9486891914ec55e0c8_8db999d57d" tabindex="-1" value=""></div>
            <button type="submit" class="btn-submit"><i class="ion-paper-airplane"></i></button>
            </div>
          </form>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>